*{
    padding: 0%;
    margin: 0%;
    font-family: "Inter", serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom right, #3C0D0D,#1a1a1a,#2f2f2f);
}
.apropos{
    width: 100%;
    height: 100vh;
    padding: 78px 0px;
}
.apropos img{
    height: auto;
    width: 400px;
    border-radius:  20px;
}
.texte-apropos{
    width: 550px;
}
.texte-apropos h1{
    color: white;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.texte-apropos h5{
    color: white;
    font-size: 30px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.texte-apropos p{
    color: #fcf;
    letter-spacing: 1px;
    line-height: 28px;
    text-align: justify;
    font-size: 22px;
    margin-bottom: 45px;
}
.main{
    display: flex;
    width: 1130px;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}
span{
    color: #f9004D;
}
.boutton-groupe{
    display: flex;
    gap: 15px;
}
button{
    background: #f9004D;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background: transparent;
    border: 2px solid #f9004D;
}
@media screen and (max-width: 768px){
    .main{
        flex-direction: column;
        align-items: center;
    }
    .main img{
        width: 63%;
        max-width: none;
    }
    .texte-apropos h1{
        font-size: 28px;
    }
    .texte-apropos h5{
        font-size: 20px;
    }
    .texte-apropos p{
        font-size: 14px;
    }
    .texte-apropos{
        width: 80%;
        text-align: center;
    }
    button{
        flex: 1;
        margin: 15px 5px;
    }
    
}
ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    position: fixed;
    top: 50%;
    right: 20px; 
    transform: translateY(-50%); 
    gap: 30px; }

ul li {
    font-size: 50px; 
    color: #691d16;
    cursor: pointer;
    transition: color 0.3s;
}

ul li:hover{
    color: #2f0e0e;
}


